*{
    margin: 0;
    padding: 0;
}
body{
font-family: "Open Sans", sans-serif;

}
.cabecalho {
    background-color: #E4E3E3;
    color: #0057A6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.cabecalho-imagem{
    width: 13%;
}

 .cabecalho-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 18px;
 }
 .escola-imagem{
    width: 25%;
 }
 .escola{
    margin: 0%;
    background-image: linear-gradient(#000000,#0057A6);
    color: #E4E3E3;
    display: flex;
 }
 .escola-div{
    width: 40%;
    padding: 60px 0;
    margin: 5%;
 }
 .foto-estudante{
    width: 120px;
 }